:root{
  /*Cores do Site*/
  --cor-primaria: #4691f0; /* Azul */
  --cor-destaque: #f0c946; /* Amarelo */
  --cor-secundaria: #f09c46; /* Laranja */
  --cor-de-fundo-primaria: #121212;
  --cor-de-fundo-secundaria: #596370; /* Azul Acizentado */
  
}


*{
  scroll-behavior: smooth;
}

section{
  padding: 2rem;
}

header nav, footer{
  box-sizing: border-box;
}

header nav{
  background-color: var(--cor-de-fundo-primaria);
  height: 4rem;
  width: 100vw;
  padding: 1rem;
}

header nav .logo{
  width: 10rem;
  transform: scale(1);
  transition: left, top, transform 0.3s ease;
}

header nav div#logonav{
  width: min-content;
  display: inline;
  position: relative;
  top: -0.2rem;
}
header nav div#logonav:hover .logo{
  filter: brightness(2) drop-shadow(0.1rem 0.1rem 0.1rem var(--cor-destaque));
  top: -0.3rem;
  left: 0.3rem;
  transform: scale(1.05);
}

header nav ul, header nav ul li, header nav.logo {
  display: inline-block;
}

header nav ul{
  float: right;
}

header nav ul li{
  position: relative;
  top: 0.5rem;
}

header nav a{
  color: #fff;
}

aside nav{

}

footer{
  bottom: 0;
  height: fit-content;
  background-color: var(--cor-primaria);
  width: 100vw;
}

footer nav{
  margin: 1rem;
}
footer nav a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.2rem;
  transition: color 0.3s ease;
}

footer nav a:hover{
  color: var(--cor-destaque);
  font-weight: bolder;
  text-decoration: underline;
}

footer img.logo{
  margin: 1rem;
  width: 12rem;
  filter:brightness(100);
  transition: filter, transform 0.5s ease;
  transform: scale(1)
}

footer img.logo:hover{
  filter: brightness(2) drop-shadow(0.1rem 0.1rem 0.2rem var(--cor-de-fundo-secundaria));
  transform: scale(1.1);
}

footer p.footer-bottom{
  background-color: var(--cor-de-fundo-secundaria);
  color: #fff;
  padding: 1rem;
  width: 100vw;
  margin-top: 1rem;
  text-align: center;
}

footer p a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: color 0.2s ease;
}

