:root{
  /*Cores do Site*/
  --cor-primaria: #4691f0; /* Azul */
  --cor-destaque: #f0c946; /* Amarelo */
  --cor-secundaria: #f09c46; /* Laranja */
  --cor-de-fundo-primaria: #121212;
  --cor-de-fundo-secundaria: #596370; /* Azul Acizentado */
  --cor-de-fundo-clara: #ddd9ce; /*Branco Gelo*/
  --border-color: 2px solid rgba(0, 0, 0, 0.2);
  
}

*{
  scroll-behavior: smooth;
}

h1{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: var(--border-color);
}

section{
  padding: 2rem;
}

p{
  margin-bottom: 8px;
  line-height: 16px;
}

header nav, footer{
  box-sizing: border-box;
}

header nav{
  background-color: var(--cor-de-fundo-primaria);
  height: 4rem;
  width: 100vw;
  padding: 1rem;
}

header nav .logo{
  width: 10rem;
  transform: scale(1);
  transition: left, top, transform 0.3s ease;
}

header nav div#logonav{
  width: min-content;
  display: inline;
  position: relative;
  top: -0.2rem;
}
header nav div#logonav:hover .logo{
  filter: brightness(2) drop-shadow(0.1rem 0.1rem 0.1rem var(--cor-destaque));
  top: -0.3rem;
  left: 0.3rem;
  transform: scale(1.05);
}

section dd{
  margin-bottom: 8px;
}

section dl{
  text-indent: 1rem;
  background-color: var(--cor-de-fundo-secundaria);
  color: var(--cor-de-fundo-clara);
  padding: 1rem;
  border: 3px solid var(--cor-secundaria);
  border-radius: 0.5rem;
}

section dt{
  font-weight: bold;
  color: var(--cor-destaque);
  margin-top: 8px;
}

section dd{
  text-indent: 3rem;
}

header nav ul, header nav ul li, header nav.logo {
  display: inline-block;
}

header nav ul{
  float: right;
}

header nav ul li{
  position: relative;
  top: 0.5rem;
}

header nav a{
  color: #fff;
}

aside nav{

}

footer{
  bottom: 0;
  height: fit-content;
  background-color: var(--cor-primaria);
  width: 100vw;
}

footer nav{
  margin: 1rem;
}
footer nav a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.2rem;
  transition: color 0.3s ease;
}

footer nav a:hover{
  color: var(--cor-destaque);
  font-weight: bolder;
  text-decoration: underline;
}

footer img.logo{
  margin: 1rem;
  width: 12rem;

}

footer p.footer-bottom{
  background-color: var(--cor-de-fundo-secundaria);
  color: #fff;
  padding: 1rem;
  width: 100vw;
  margin-top: 1rem;
  text-align: center;
  box-sizing: border-box;
}

footer p a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: color 0.2s ease;
}

