/* Estilos Gerais */
*{
  scroll-behavior: smooth;
  
}

body{
  height: fit-content;
}

html, body, main{
  width: 100vw;
  overflow-x: hidden;
}

section{
  margin: 2rem;
}

/* Textos em geral */

strong, .king-text{
  font-weight: bold;
  color: var(--cor-destaque);
}

/* 
  Toda vez que a palavra rei ou king for usada em um texto, use a classe .king-text 
*/
.king-text{
  text-transform: uppercase;
}

.divider-border{
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

h1{
  font-size: 1.8rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

h2{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

main p{
  margin-bottom: 8px;
  line-height: 16px;
  text-indent: 1rem;
}


/* Listas de Definição */
dl{
  text-indent: 1rem;
  padding: 1rem;
}

dt{
  font-weight: bold;
  color: var(--cor-destaque);
  margin-top: 8px;
}

dd{
  margin-bottom: 8px;
  text-indent: 3rem;
}

/* Border-Box na nav e no footer para: 
  - não ter barra de rolagem lateral
  - obedecer o tamanho definido no css 
*/
header nav, footer{
  box-sizing: border-box;
}

/* Destaque de Informações*/
.bloco-destaque{
  width: 90vw;
  display: inline-block;
  background-color: var(--cor-de-fundo);
  border: 3px solid var(--cor-secundaria);
  border-radius: 0.5rem;
}

p.bloco-destaque{
  padding: 1rem;
  color:#fff;
}

dl.bloco-destaque dd{
  color: #fff;
}

/* Logo flutuante*/
a.link-para-imagem img{
  width: 2rem;
  filter: grayscale(); /* Deixa a imagem acizentada */
  transition: filter 0.2s ease-in; /* Faz a transição do filtro de grayscale */
}

a.link-para-imagem img:hover{ 
  /* Tira o filtro de grayscale quando o mouse estiver por cima*/
  filter: none; 
}



/* CABEÇALHO (HEADER) */
header{
  width: 100vw;
  box-sizing: border-box;
}
/* Barra de navegação (NAV) */
header nav{
  background-color: var(--cor-neutra-escura);
  height: 4rem;
  width: 100%;
  padding: 1rem;
}

header nav .logo{
  width: 10rem;
  transform: scale(1);
  transition: left, top, transform 0.3s ease;
}

header nav div#logonav{
  width: min-content;
  display: inline;
  position: relative;
  top: -0.2rem;
}
header nav div#logonav:hover .logo{
  filter: brightness(2) drop-shadow(0.1rem 0.1rem 0.1rem var(--cor-destaque));
  top: -0.3rem;
  left: 0.3rem;
  transform: scale(1.05);
}

header nav ul, header nav li, header nav .logo {
  display: inline-block;
}

header nav ul{
  float: right;
  right: 2rem;
  position: relative;
}

header nav li{
  position: relative;
  top: 0.5rem;
  margin-right: 1rem;
}

header nav a{
  color: #fff;
}

header nav.fixed{
  position: fixed;
  width: 100vw;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* Conteúdo Principal (MAIN) */

section#banner{
  background-color: var(--cor-de-fundo);
  padding: 8rem 3rem;
  height: 30vh;
  color: var(--cor-neutra-clara);
  margin: 0;
}

/* Pilares da segurança*/
section#dicas-de-seguranca img{
  width: auto;
}

section#introducao-a-seguranca p{
  text-indent: 1rem;
}

section#pilares-da-seguranca dl{
  width: 70vw;
  display: inline-block;
  color: var(--cor-neutra-clara);
}

section#pilares-da-seguranca img{
  width: 15vw;  
}

section#politicas-de-seguranca ul li{ 
  list-style-type: disc;
  margin-left: 1rem;
}

section#politicas-de-seguranca li > ul li{
  list-style-type: circle;
  text-indent: 1rem;
}

/* RODAPÉ (FOOTER) */
footer{
  bottom: 0;
  height: fit-content;
  background-color: var(--cor-primaria);
  width: 100vw;
}

footer nav{
  margin: 1rem;
}
footer nav a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.2rem;
  transition: color 0.3s ease;
}

footer nav a:hover{
  color: var(--cor-destaque);
  font-weight: bolder;
  text-decoration: underline;
}

footer img.logo{
  margin: 1rem;
  width: 12rem;

}

footer p.footer-bottom{
  background-color: var(--cor-de-fundo);
  color: #fff;
  padding: 1rem;
  width: 100vw;
  
  margin-top: 1rem;
  text-align: center;
  box-sizing: border-box;
}

footer p a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: color 0.2s ease;
}

