section#banner{
  background-image: url(../assets/images/banner_background.jpg);
  padding: 8rem 3rem;
  height: 20vh;
  color: var(--cor-neutra-clara);
  margin: 0;
}

section#banner > a{
  right: 1rem;
  top: 5rem;
  position: absolute;
  color: var(--cor-neutra-clara);
}

section#banner a img{
  width: 2rem;
  filter: grayscale();
}

section#banner a img:hover{ 
  filter: none;
}

section#banner h1{
  font-size: 3rem;
  border: none;
}

section#banner p{
  text-indent: 0;

}